.btn-cart {
  text-align: center;
  width: 100%;
  background: #1c1b1b;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
  text-align: center;
  padding: 0.8em;
  cursor: pointer;
}

.btn-loadmore {
  border: 1px solid #1c1b1b;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
  text-align: center;
  padding: 0.8em;
  cursor: pointer;
  display: block;
  margin: auto;
}

.btn-checkout {
  text-align: center;
  background: #1c1b1b;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
  text-align: center;
  padding: 0.8em;
  cursor: pointer;
  width: 250px;
}

.btn-submit {
  background-color: #1c1b1b;
  padding: 1em;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  display: block;
  margin-bottom: 1em;
}

.btn-google {
  color: #1c1b1b;
  border: 1px solid #1c1b1b;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 1em;
}

.btn-hero {
  letter-spacing: 0.2em;
  background: white;
  color: #1c1b1b;
  border: 1px solid #1c1b1b;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  display: block;
  margin-top: 1em;
}

.btn-hero:hover {
  background: #1c1c1c;
  color: white;
  border: none;
}

.btn-add {
  text-align: center;
  background: #1c1b1b;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
  text-align: center;
  padding: 0.8em;
  cursor: pointer;
  width: 250px;
  height: 50px;
  /* display: flex; */
}
