.header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 18px;
}

.header__nav {
  display: flex;
}

.header__nav--fill {
  flex: 1;
}

.header__nav--fill:nth-child(3) {
  justify-content: flex-end;
}

.menuIcon {
  cursor: pointer;
}

.nav__menu--icon img {
  width: 25px;
}

.nav ul {
  display: flex;
}

.nav a, .nav li {
  color: #1c1b1b;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
}

.nav__logo-wrapper {
  width: 100px;

}

.nav__logo-wrapper img {
  width: 100%;
}


.nav-icons {
  width: 25px;
}

.nav__flex {
  display: flex;
}

.nav__quantity {
  font-size: 0.5em;
}

.wrap {
  height: 100%;
  position: relative;
  max-width: 1450px;
  margin: 0 auto;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: start ;
}

.sidenav {
  position: fixed;
  top: 0;
  left: -300px;
  width: 200px;
  height: 100%;
  background: #efefef;
  transition: left 300ms ease-out;
}
.sidenav.active {
  left: 0;
  transition: left 300ms ease-out;
}

.sidenav-header {
  height: 80px;
  display: flex;
  align-items: center;
  margin-left: 1.5em;
}

.sidenav-header img {
  width: 25px;
}

.sidenav-content {
  margin-left: 1.5em
}

.sidenav-content li {
  padding: 1em 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
}

.sidenav-content a {
  color: #1c1b1b;
}

@media screen and (min-width: 900px) {
  .header__wrapper {
    display: flex;
    align-items: center;
    padding: 18px 50px;
  }
}

.hidden-mobile {
  display: none;
}


@media screen and (min-width: 1100px) {

  .hidden-mobile {
    display: flex;
  }

  .hidden-fullscreen {
    display: none;
  }
}